<script type="text/javascript">
  $(document).ready(function(){
     $('#btnAddNewTestSetByCSV').click(function(){
      $('#modalUploadTestSetCSV').modal({
        backdrop: 'static'
      });
    }); 
    $('#btnSaveUploadCSV').click(function(){
      $('#modalUploadedCSVPreview').modal({
        backdrop: 'static'
      });
    });
    $('#btnAddNewTestSet').click(function(){
      $('#modalManualTestSetCreation').modal({
        backdrop: 'static'
      });
    });
  });
  
</script>









<!--<nav class="navbar navbar-default" style="margin-top:-51px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: white; font-weight: bold;font-style: italic;font-size: 26px; margin-top: 7px;">
      ShinSaiten </a>
    </div>
    <ul class="nav navbar-nav allTab">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">EmpID-001<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="editProfile.html">Edit Profile</a></li>
          <li><a href="changePassword.html">Change Password</a></li>
          <li><a href="login.html">Logout</a></li>
        </ul>
      </li>
      <!-- <li><a href="#" style="margin-top:7px;">TEAP_001</a></li> 
      <li><a href="#"><i class="fa fa-th fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-bell fa-2x"></i></a></li>
      <li><a href="adminMenu.html"><i class="fa fa-home fa-2x"></i></a></li>
    </ul>
  </div>
</nav>-->
<br/>
<div class="container"  id="ratingMainPanel">
  <div class="col-md-12" style="padding-right: 10px;">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">

          <b style="text-align: left;">{{'rater-list.panel_header'|translate}}</b>
        </h3>
      </div>
		
		<div class="panel-body" style="padding: 25px;">
		<div  *ngIf="successMsgFlag" style="color: red; text-align: center;">
			{{'rater-register.rater_success_message'|translate}}
		</div>
		<div  *ngIf="updateMsgFlag" style="color: red; text-align: center;">
			{{'rater-edit.rater_update_message'|translate}}
		</div><br>
        <form class="form-horizontal form-content" id="Search" name="Search">       
          <div class="row">
            <div class="col-md-6" style="padding-left: 0;">
              <div class="col-md-3" align="left">
                <label class="control-label" style="padding-left: 28%;">{{'rater-list.test_brand_lebel'|translate}}</label>
              </div>
              <div class="form-inline col-md-9" style="margin-top:1%;">
                {{testBrandName}}
              </div>
            </div>
            <div class="col-md-6" style="padding-right: 0;">
              <div class="col-md-9">
                <input type="text" [(ngModel)]="searchValue" class="form-control form-inline" placeholder="{{'rater-list.search_button_value'|translate}}"
                  name="searchValue" required>
              </div>
              <div class="col-md-3">
                <button class="btn btn-primary btn-block" (click)="serchValue()">{{'rater-list.search_button_value'|translate}}</button>
              </div>
            </div>
          </div>
        </form>
       
        <div class="row">

          <div class="col-md-12 addNewRaterBtn">
            <a class="btn btn-primary btn-md pull-right" (click)="loadRaterRegister()">{{'rater-list.add_new_user_link'|translate}}</a>
          </div>

        </div>
        <br>
        <div class="row" style="overflow-x:auto;">
          <div class="col-md-12" style="padding-left:20px;">
            <div class="loading-indicator" >
              <mat-spinner *ngIf="isLoadingResults" class ></mat-spinner>
            </div>

            <div *ngIf="dataSource !== null then gridDataTemplate">              
            </div>
            
            <ng-template #gridDataTemplate>
              
            <div *ngIf="dataSource.data.length === 0" style="color: red; text-align: center;">
              {{'rater-list.no_records_found_message'|translate}}
            </div>
            <div class="mat-elevation-z8" *ngIf="!isLoadingResults && dataSource.data.length > 0 ">
              <mat-table #table [dataSource]="dataSource">

                <!-- UserId Column -->
                <ng-container matColumnDef="mailAddress">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'">{{'rater-list.rater_id_header'|translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.mailAddress}} </mat-cell>
                </ng-container>

                <!--   First Name Column -->
                <ng-container matColumnDef="firstName">
                  <mat-header-cell *matHeaderCellDef>{{'rater-list.rater_first_name_header'|translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
                </ng-container>
                <!--   Last Name Column -->
                <ng-container matColumnDef="lastName">
                  <mat-header-cell *matHeaderCellDef>{{'rater-list.rater_last_name_header'|translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
                </ng-container>

                <!--  Middle Name  Column -->
                <ng-container matColumnDef="middleName">
                  <mat-header-cell *matHeaderCellDef>{{'rater-list.rater_last_middile_header'|translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.middleName}} </mat-cell>
                </ng-container>
                <!-- Active  Column -->
               
                <!-- Check Box  Column -->
                <ng-container matColumnDef="assigment">
                  <mat-header-cell *matHeaderCellDef>{{'rater-list.assignment_header'|translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="isTestBrandAssign(element.testBrandId)" (change)="assignOrDeAssignTestBrandToRater($event,element.userId)"></mat-checkbox>
                  </mat-cell>
                </ng-container>

                <!--Edit Column-->
                <ng-container matColumnDef="edit">
                  <mat-header-cell *matHeaderCellDef>{{'rater-list.edit_header'|translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button type="button" class="btn btn-primary" id="updateBtn" name="updateBtn" style="padding: 1px 6px;" (click)="loadRaterEdit(testBrandId,element.userId,element.mailAddress)">
                      <i class="glyphicon glyphicon-edit"></i>
                    </button>
                  </mat-cell>
                </ng-container>

                <!--Row Header-->
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

              </mat-table>
              <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="PAGINATION_DROP_DOWN" [showFirstLastButtons]="true" [length]="resultsLength"
                [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
              </mat-paginator>
            </div>
            <!-- Copyright 2018 Google Inc. All Rights Reserved.
                    Use of this source code is governed by an MIT-style license that
                    can be found in the LICENSE file at http://angular.io/license -->
          </ng-template>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<!--<div class="navbar navbar-inverse navbar-fixed-bottom">
  <p class="footerClass" align="center">
    Powered by&nbsp;<span class="footerJiem"><b>JIEM</b></span>
  </p>
</div>-->